@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

body {
  background: #908b94 url(../images/mountains.png) no-repeat fixed center top;
}
.App {
  text-align: center;
}

.main-header {
  height: 170px;
}

.App-header {
  height: 240px;
  padding: 20px;
  color: black;
  border-bottom: 3px black solid;
}

.App-motto {
  font-family: "Kalam", cursive;
}

.modal-form {
  font-family: "Kalam", cursive;
}

.button-font-right {
  float: right;
}

.button-font-left {
  float: left;
}

.button {
  font-family: "Kalam", cursive;
  margin-bottom: 40px;
}

.center {
  text-align: center;
}

.fa-map-signs {
  font-size: 50px;
}

.extra-padding {
  padding: 15px;
}

.navbar-border {
  border-bottom: 2px solid black;
}

.top-padding {
  padding-top: 152px;
}

.top-margin {
  margin-top: 152px;
}

.navbar-color {
  background-color: rgba(255, 223, 224, 0.7);
  min-height: 152px;
}

.logo {
  height: 50px;
}

.profile-icon {
  width: 50px;
  height: 50px;
}

.font1 {
  font-family: "Kalam", cursive;
}

.align-right {
  float: right;
}

.links {
  font-size: 25px;
  text-align: right;
  color: black;
  font-family: "Kalam", cursive;
}

.edit-buttons {
  display: flex;
  justify-content: center;
}

.links li {
  text-align: right;
}

.picture-item {
  max-width: 500px;
  max-height: 400px;
}

.backpack-icon {
  height: 25px;
}

.icon {
  font-size: 25px;
  color: black;
}

#welcome-body {
  font-family: "Kalam", cursive;
  color: black;
  font-size: 26px;
  padding-top: 30px;
  text-align: left;
}

#welcome-list {
  font-family: "Kalam", cursive;
  color: black;
  font-size: 26px;
  text-align: left;
}

#action-text {
  font-family: "Kalam", cursive;
  color: black;
  font-size: 40px;
  padding-top: 15pxx;
  padding-bottom: 0;
  text-align: center;
}

.left-padding {
  padding-left: 20px;
}

#list1 {
  font-family: "Kalam", cursive;
  color: black;
  font-size: 22px;
  border-top: 1px solid black;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  text-align: left;
}

.App-intro {
  font-size: large;
}

#not-found {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: black;
  text-align: center;
}

#pouch-side-bar {
  width: 25%;
  position: fixed;
  height: 100%;
  z-index: 1;
  right: 0;
  background-color: #7c8ba3;
  font-family: "Kalam", cursive;
  text-align: center;
  border-left: solid black 2px;
}

#pouch-side-bar-title {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  padding-top: 20px;
  font-size: 50px;
  color: #566a37;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.current-pouch-container {
  width: 75%;
}

.pouch {
  font-size: 50px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 85%;
  height: 120px;
  background-color: #94651b;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  color: black;
  border: dashed black 3px;
  border-top: solid black 3px;
  box-shadow: 10px 10px 20px;
}

.pouch:hover {
  background-color: #c98c38;
  cursor: pointer;
}

.pouch:hover .pouch-name {
  font-size: 35px;
}

.pouch-name {
  font-size: 30px;
  padding-top: 15px;
  background-color: none;
}

.box1 {
  padding-top: 20px;
}

.item-box {
  font-family: "Kalam", cursive;
  text-align: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

#current-pouch-title {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 80px;
  color: #0072b2;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  text-align: center;
}

@media screen and (max-width: 650px) {
  #pouch-side-bar {
    width: 50%;
  }
}

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
  min-width: 200px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#adv-search {
  width: 100%;
}

#pouch-side-bar {
  overflow-y: auto;
  padding-bottom: 300px;
}

.other-button {
  text-align: center;
  padding: 15px;
  font-family: "Kalam", cursive;
}

.button-font {
  color: black !important;
  font-family: "Kalam", cursive;
  border: solid black 1px !important;
}

#settings-box {
  border: solid black 2px;
  text-align: center;
  font-family: "Kalam", cursive;
}
#settings-title {
  padding-top: 20px;
}

.error-message {
  color: red;
  size: 20px;
  font-weight: bold;
  font-family: "Kalam", cursive;
}
.facebook-button {
  background-color: rgb(76, 105, 186);
  font-size: 16px;
  padding: 10px;
  text-align: center;
  color: black !important;
  font-family: "Kalam", cursive;
  border: solid black 1px !important;
}

.facebook-button:hover {
  cursor: pointer;
}

.google-button {
  background: rgb(209, 72, 54);
  width: 190px;
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  color: black !important;
  font-family: "Kalam", cursive;
  border: solid black 1px !important;
  margin-top: 10px;
}

.google-button:hover {
  cursor: pointer;
}

.learn-button,
.facebook-button {
  font-family: "Kalam", cursive;
}

.learn-button {
  margin-bottom: 10px;
}

.facebook-button,
.google-button {
  border-radius: 3px;
  padding: 5px;
}

.facebook-button {
  height: 40px;
}
