@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Lato|Supermercado+One");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");

body {
  background: url(../images/mountains.png);
  background-size: cover;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
  float: right;
}

.App-header {
  height: 190px;
  padding: 20px;
  color: black;
  border-bottom: 5px black solid;
}

.App-title {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 100px;
  padding-top: 15px;
  float: left;
}

#welcome {
  font-family: "Supermercado One", cursive;
  color: black;
}

#welcome-body {
  font-family: "Kalam", cursive;
  color: black;
}

.App-intro {
  font-size: large;
}

.btn,
.btn:hover {
  border: black solid 2px;
  border-radius: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
